<div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <span data-feather="home" class="align-text-bottom"></span>
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/pages/products" routerLinkActive="active">
          <span data-feather="shopping-cart" class="align-text-bottom"></span>
          Products
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/pages/inventories" routerLinkActive="active">
          <span data-feather="shopping-cart" class="align-text-bottom"></span>
          Inventories
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/pages/stores" routerLinkActive="active">
          <span data-feather="shopping-cart" class="align-text-bottom"></span>
          Stores
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/pages/customers" routerLinkActive="active">
          <span data-feather="users" class="align-text-bottom"></span>
          Customers
        </a>
      </li>
    </ul>
  </div>