
<div class="container h-100">
    
    <div class="row d-flex justify-content-center h-100">
       
        <div class=" my-3 col-12 col-md-8 col-lg-6 bg-secondary bg-opacity-50" style="border-radius: 1rem;">
          <form class="row mx-3 fs-6 my-2" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <h1 class="h2 text-center mb-3">Register</h1>
                <div class="col-md-6">
                  <label for="inputEmail4" class="form-label ">First Name</label>
                  <input type="text" class="form-control" id="firstName" formControlName="firstName">
                </div>
                <div class="col-md-6">
                  <label for="inputPassword4" class="form-label ">Last Name</label>
                  <input type="text" class="form-control" id="lastName" formControlName="lastName">
                </div>
                <div class="col-md-12">
                  <label for="inputEmail4" class="form-label">Email</label>
                  <input type="text" class="form-control" id="inputEmail4" formControlName="email">
                </div>
                <div class="col-md-6">
                  <label for="inputPassword4" class="form-label">Date Of Birth</label>
                  <input type="date" class="form-control" id="inputPassword4" formControlName="dateOfBirth">
                </div>
                <div class="col-md-6">
                  <label for="inputEmail4" class="form-label">Gender</label>
                  <input type="select" class="form-control" id="inputEmail4" formControlName="gender">
                </div>
                  <div class="col-md-12">
                    <label for="inputPassword4" class="form-label">Password</label>
                    <input type="password" class="form-control" id="lastName" formControlName="password">
                  </div>
                <div class="col-12">
                <label for="inputPassword4" class="form-label">Phone Number</label>
                  <input type="text" class="form-control" id="inputPassword4" formControlName="phone">
                </div>
                <div class="col-12">
                    <label for="inputAddress2" class="form-label">Address</label>
                    <textarea type="text" class="form-control" id="inputAddress2" rows="3" formControlName="address"></textarea>
                  </div>
                  <input type="text" class="form-control" id="inputPassword4" hidden value="admin">
                <div class="gap-2 my-4 d-flex">
                  <div class="col col-6 d-grid">
                    <button type="reset" class="btn btn-danger" routerLink="/auth/signin">Cancel</button>
                  </div>
                  <div class="col col-6 d-grid">
                    <button type="submit" class="btn btn-primary">Signup</button>
                  </div>
                </div>
                <div>
                  <span class="text-secondary">Sudah punya akun?</span> <a routerLink="/auth/signin">Login</a>
                </div>
              </form>
        </div>
    </div>
</div>