<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    
    <div class="col-12 justify-content ">
       
        <div class="col-6 border">
            <h1 class="h2 text-center">Customer Form</h1>
            <form class="row mx-5 my-5" [formGroup]="customerForm" (ngSubmit)="onSubmit()">
                <div class="col-md-6">
                  <label for="inputEmail4" class="form-label">First Name</label>
                  <input type="text" class="form-control" id="firstName" formControlName="firstName">
                </div>
                <div class="col-md-6">
                  <label for="inputPassword4" class="form-label">Last Name</label>
                  <input type="text" class="form-control" id="lastName" formControlName="lastName">
                </div>
                <div class="col-md-6">
                  <label for="inputEmail4" class="form-label">Gender</label>
                  <input type="text" class="form-control" id="gender" formControlName="gender">
                </div>
                <div class="col-md-6 ">
                  <label for="inputPassword4" class="form-label">Date Of Birth</label>
                  <input type="date" class="form-control" id="inputPassword4" formControlName="dateOfBirth">
                </div>
                <div class="col-md-12">
                    <label for="inputEmail4" class="form-label">Email</label>
                    <input type="text" class="form-control" id="email" formControlName="email">
                  </div>
                <div class="col-12">
                <label for="inputPassword4" class="form-label">Phone Number</label>
                  <input type="text" class="form-control" id="inputPassword4" formControlName="phone">
                </div>
                <div class="col-12">
                    <label for="inputAddress2" class="form-label">Address</label>
                    <textarea type="text" class="form-control" id="inputAddress2" rows="3" formControlName="address"></textarea>
                  </div>
                <input type="text" hidden formControlName="roleSet">
                <div class="col-12 mt-3">
                  <button type="reset" class="btn btn-danger px-5 mx-4" routerLink="/pages/customers">Cancel</button>
                  <button type="submit" class="btn btn-primary px-5 mx-4">Add Data</button>
                </div>
              </form>
        </div>
    </div>
</div>